@use "../variables";
@use "../utilities/scale";
@use "../utilities/palette";


.form-group {
  display: inline-block;
  width: 240px;
  vertical-align: top;
}
label {
  max-width: 240px;
  color: palette.$theme-text;
}
input[type=search] {
  width: 100%;
  padding: scale.$xs scale.$s;
  border: 1px solid #ccc;
  border-radius: scale.$xs;
  color: palette.$theme-text;

  &:focus-visible {
    outline-offset: -100px;
    border-color: variables.$accent;
  }
}

.results {
  border: 1px solid variables.$accent;
  border-radius: scale.$s;
  width: 100%;
  padding: scale.$xs 0;
  max-height: 200px;
  overflow-y: scroll;
}
.hide {
  visibility: hidden;
}
  
.result {
  padding: scale.$xs scale.$s;
  margin: scale.$s;
  cursor: pointer;

  &:hover, :focus {
    background-color: variables.$accent;
  }
}
  