//Scale
// 1 | 2 | 2 | 1.5 | .5
$base: 4px;
$xs: 4px;
$s: 8px;
$m: 16px;
$l: 24px;
$xl: 32px;

// $sizes: (
//     $xs: 4px,
//     $s: 8px,
//     $m: 16px,
//     $l: 24px,
//     $xl: 32px
// );

// @each $size, $px in $sizes {

// }
